<app-section-drapeau-component [logoUrl]="logoUrl" [welcomeMessage]="welcomeMessage" [subtitle]="subtitle"
  [drpTunisiaUrl]="drpTunisiaUrl">
</app-section-drapeau-component>
<div class="d-flex justify-content-center" data-aos="fade-left">
  <div class="container  mt-3">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> شنوة فكرة الموقع ؟</mat-panel-title>
        </mat-expansion-panel-header>
        فكرة الموقع هي توفير مكان باش ناس لكل دبر بلاصة فيسع فيسع في تونس.
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> معايا بلاصة كيفاش نعمل باش نزيدها ؟</mat-panel-title>
        </mat-expansion-panel-header>
        سهلة برشة في أول صفحة موجود "زيد طريقك منا"
        <br>
        معليك كان تعمر الحاجات الموجودة كيما تحب
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> كيفاش ندبر بلاصة ؟</mat-panel-title>
        </mat-expansion-panel-header>
        في الصفحة الرئيسية موجودة "لوج على توصيلة" تحط ثنية متاعك تو يطلعلك البلاصات اللي فيها
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> كيفاش نعرف روفي تقبلت ولا لا ؟</mat-panel-title>
        </mat-expansion-panel-header>
        تطلعلك Notification في الموقع تهنا
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> نجم نعمر ثنية وقت تبدى موجودة تعلموني ؟</mat-panel-title>
        </mat-expansion-panel-header>
        إي إي عمر ثنية وقت تبدى موجودة نعلموك
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> عندي ثنيتي نجم نشوف بلاصة ؟</mat-panel-title>
        </mat-expansion-panel-header>
        لا تفسخ ثنيتك ساعة بعد لوج على توصيلة
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> ثنيتي بعد مايفوت الوقت متاعها شيصير ؟</mat-panel-title>
        </mat-expansion-panel-header>
        كل نهار إيصير تحديث كان ثنية قديمة تتفسخ وحدها
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> كيفاش انجم نكتب تعليق ؟ </mat-panel-title>
        </mat-expansion-panel-header>
        يلزمك Compte Github باش تنجم تكتب تعليق.
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>