<div class="app">
  <video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="../../assets/videos/vd1.mp4" type="video/mp4" />
  </video>
  <div class="content_opacity">
    <div class="logo">
        <img src="../../assets/images/logo_app.png" alt="logo app"/>
    </div>
    <div class="content_text">
        <div class="header_content">
            مرحبا بيك معنا
        </div>
        <div class="desc_content mt-3">
             تحب دبر بلاصة ولا تزيد بلاصة
        </div>
    </div>
    <div>
       <img src="../../assets/images/scroll_down.png" class="scroll_down" alt="scroll_down" (click)="scrollToNextSection()">
    </div>
  </div>
</div>
