<!-- <app-section-drapeau-component [logoUrl]="logoUrl" [welcomeMessage]="welcomeMessage" [subtitle]="subtitle"
  [drpTunisiaUrl]="drpTunisiaUrl">
</app-section-drapeau-component> -->
<app-section-home></app-section-home>
<div class="car" id="next_section" >
  <img width="80px" src="../../assets/images/car.png">
</div>
<div class="container mt-5 py-1" >
  <article class="postcard light blue" data-aos="fade-up">
    <a class="postcard__img_link" href="#">
      <!-- <img  src="https://picsum.photos/1000/1000" alt="Image Title" /> -->
      <img class="postcard__img" src="../../assets/images/logo_app.png" alt="">
    </a>
    <div class="postcard__text">
      <h1 class="postcard__title blue" data-aos="fade-left"><a href="#">معاك بلاصة</a></h1>
      <div class="postcard__bar"></div>
      <div class="postcard__preview-txt text-dark font-weight-bold" data-aos="fade-left">
        ديما حاير كي تحب تروح ولا كي تحب ترجع للخدمة متاعك في Transport 🚗 الحلّ موجود معانا،تلق فاش تروح وتخلط
        للخدمة متاعك
        و جوك باهي 😉,تلق برشا عباد كيفك راجعين للخدمة في نفس الوقت متاعك ماعليك كان تحكي معاهم إخلولك بلاصة.
      </div>
    </div>
  </article>
</div>

<div class="d-flex justify-content-center m-3" data-aos="fade-left">
  <div class="text-center">
    <div class="text_condida mb-2">
      ✨شوف شكون في ثنيتك
    </div>
    <div class="text_condida">
      زيد منين بش تخرج لوين ماشي باش لعباد تفيق بيك
    </div>
    <div class="mt-2">
      <button mat-fab extended class="bg-danger"  routerLink="/AddTrajet">
        زيد طريقك منا
        <mat-icon>directions_car</mat-icon>
      </button>
    </div>
  </div>
</div>

<app-search-compo></app-search-compo>
