<div>
  <button mat-mini-fab class="bg-danger rounded text-light btn_mode" data-bs-toggle="modal"
    data-bs-target="#staticBackdrop">
    <mat-icon>info</mat-icon>
  </button>

  <button mat-mini-fab  [routerLink]="['/faq']"  class="bg-danger rounded text-light btn_mode mx-5" matTooltip="أسئلة / أجوبة">
    <mat-icon>help</mat-icon>
  </button>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title mt-2" id="staticBackdropLabel">معلومات على الموقع</h4>
      </div>
      <div class="modal-body">
        <div class="text-center mb-2">
          <p>
            الموقع من تطوير <br> <span style="font-weight: 600;">طلال ماجري</span>
            <br>
            متخرج من
            <a href="https://isetbz.rnu.tn/">
              <ins>
                المعهد العالي للدراسات التكنولوجية ببنزرت
              </ins>
            </a>
          </p>
          <img src="../assets/images/DSC_79945.png" class="rounded" width="150px" height="150px" alt="">
          <div class="mt-2">
            <a href="https://www.facebook.com/talel.mejri.140/">
              <mat-icon>facebook</mat-icon>
            </a>
          </div>
        </div>
        <hr>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">باهي</button>
      </div>
    </div>
  </div>
</div>
